body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background: #f5f5f5;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.topo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 20px;
}

.topo label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

button{
    padding: 10px 15px;
    border: none;
    background: #1976d2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background: #125aa0;
}

table{
    width: 95%;
    border-collapse: collapse;
    background: white;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12px;
}

th{
    background: #222;
    color: white;
}

.aumento{
    color: red;
    font-weight: bold;
}

.reducao{
    color: green;
    font-weight: bold;
}

.alerta {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff5252;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
    z-index: 9999;
}

.alerta.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.alerta.erro {
    background: #ff5252;
}

.alerta.sucesso {
    background: #2e7d32;
}

table th, table td {
    text-align: center; /* centraliza todas */
    vertical-align: middle;
}

/* mantém a descrição à esquerda */
table td:nth-child(3) {
    text-align: left;
}

.box-tabela {
    width: 100%;
    height: 80%;
    overflow: auto;
}


.box-input {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.box-input input {
    width: 270px;
    position: absolute;
    right: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 2px #000000;
    outline: none;
}

.box-buttons {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.rodape {
    width: 100%;
    height: 30px;
    text-align: center;
}

.rodape p {
    font-weight: bold;
    font-size: 20px;
}
