/* From Uiverse.io by arshshaikh06 */
.shimmer {
    position: relative;
    background: #c4c2c2;
    background-image: linear-gradient(to right, #cfcece 0%, #cfcece 10%, #cfcece 20%, #cfcece 30%, #cfcece 50%, #cfcece 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

#container {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    position: relative;
    z-index: 999;
}

#container.hidden {
    opacity: 0;
    pointer-events: none;
}

#container.active {
    opacity: 1;
    pointer-events: auto;
}


#square {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 4.8rem;
    left: 0;
}

#content {
    flex: 1;
    height: 150px;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#content-title {
    width: 100%;
    height: 70px;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#content-desc {
    width: calc(100% - 400px);
    height: 100%;
    position: absolute;
    left: 27rem;
    top: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.line {
    width: 250px;
    height: 90px;
    border-radius: 20px;
}

.line-bigger {
    width: calc(100% - 430px);
    height: 50px;
    position: absolute;
    top: 14rem;
    border-radius: 20px;
}



.fundo-loadSpin {
    position: fixed;
    inset: 0;
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
    backdrop-filter: blur(20px);
}

.fundo-loadSpin.active {
    opacity: 1;
    pointer-events: auto;
}